.Player__Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px 50px;
}

.Player__Cards{
    display: flex;
    gap: 15px;
    max-width: 65%;
    flex-wrap: wrap;
}

.Player__Value{
    font-size: 20px;
}


.Player__Button__Container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
}